.filterBtnWrapper {
    padding: 20px 30px;
    background: #ddd;
    border-radius: 20px;
    margin-top: 25px;
    position: sticky;
    top: 10px;
}

.food-name {
    font-size: 20px;
    font-weight: 500;
    color: #ff7404;
}

.food-price {
    font-size: 16px;
    color: #ff7404;
    font-weight: 500;
}

.card-heading {
    border-bottom: 1px solid #ff7404;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p.food-description {
    font-size: 16px;
    color: black;
}

.menu-item-card {
    border: 1px solid #ff7404;
    border-radius: 10px;
}

.filterBtnWrapper li button {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    text-align: left;
    width: 100%;
    background: transparent;
    border: 0px;
    color: #ff7404;
    cursor: pointer;
}
.filterBtnWrapper li button:focus {
    outline: 0px;
}
.nav-tabs .nav-item {
    width: 100%;
}

.filterBtnWrapper li button:hover {
    color: #4e4e4e;
    border-color: transparent !important;
}

.filterBtnWrapper li {
    padding: 2px 10px;
}

.food-price ul {
    margin-bottom: 0;
}

.food-price ul li {
    text-wrap: nowrap;
}

.filterBtnWrapper li button.active {
    color: #000;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.tab-pane h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

@media screen and (max-width:1900px) {
    .filterBtnWrapper li button {
        font-size: 18px;
    }
    .food-name {
        font-size: 18px;
    }
    .filterBtnWrapper li {
        padding: 2px 0;
    }
}
@media screen and (max-width:1024px) {
    .filterBtnWrapper li button {
        font-size: 16px;
    }
    .food-name {
        font-size: 16px;
    }
    .tab-pane h2 {
        font-size: 30px;
    }
    p.food-description {
        font-size: 14px;
    }
    .food-price {
        font-size: 14px;
    }

}
@media screen and (max-width:590px) {
    .section {
        padding: 5em 0;
    }
    .top-slant-white {
        margin-top: 0;
    }

}